*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hide{
    display: none;
}


.bg-img{
    width: 100%;
    height: calc(100vh - 65px);
    object-fit: cover;
}

nav{
    width: 100%;
    height: 65px;
    background-color: #e3f5ff;
    position: fixed;
}

nav .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 40px;
}

nav .logo span{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 15px;
    color: #223a47;
}

nav .navlinks{
    display: flex;
    align-items: center;
}

nav .navlinks li{
    list-style: none;
    font-size: 14px;
}

nav .navlinks li a {
    text-decoration: none;
    border: 1px solid transparent;
    color: #223a47;
    padding: 10px 15px;
    transition: .3s ease-out;
}

nav .navlinks li a:hover {
    border: 1px solid #223a47;
}

li a.active{
    background-color: #223a47;
    color: #e3f5ff !important;
}

nav .navIcons{
    display: flex;
    margin-left: 50px;
    gap: 15px;
}

nav .navIcons img{
    width: 30px;
    cursor: pointer;
}


/* ============= MEDIA QUERIES ============ */
@media screen and (max-width: 926px) {


    nav .logo span{
        display: none;
    }

    nav .navlinks{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
        background-color: #e3f5ff;
        padding-bottom: 50px;
        transform: translateY(-550px);
        transition: transform .3s ease-in, opacity .5s ease-in;
        opacity: 0;
    }

    .navMobile{
        transform: translateY(0) !important;
        opacity: 1 !important;
    }

    nav .navlinks li{
        margin-top: 25px;
    }

    nav .navIcons{
        margin-left: 0;
        margin-top: 50px;
    }

    nav .mobile-icons{
        display: block;
    }
    nav .mobile-icons img{
        width: 30px;
        cursor: pointer;
    }
}



@media screen and (max-width: 400px){


    nav .navlinks li{
        display: block;
        width: 100%;
        margin: 0 15px;
        text-align: center;
    }

    nav .navlinks li a{
        display: block;
        width: 100%;
        
    }



}